/* this is for the giver book project */
* {
  background: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  color: black;
}

  p {
    border: 2px solid black;
    border-radius: 5px;
  }
  h1 {
    border: 2px solid black;
    border-radius: 5px;
  }
  button {
    border: 2px solid black;
    border-radius: 5px;
  }
  a {
    border: 2px solid black;
    border-radius: 5px;
  }
  h4 {
      border: 2px solid black;
      border-radius: 5px;
  }

p {
text-align-last: center;
}
h1 {
text-align-last: center;
}
img { 
  border: 2px solid black;
  border-radius: 5px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
